*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	font-family: 'Poppins', sans-serif;
}

ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
    list-style: none;
    display: inline-block;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    z-index: 99;
    padding: 0 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.logo {
    color: var(--black, #00171F);
    font-family: 'DM Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.9px;
}

.menu-icon,
.close-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #eb1b33;
}

.menu-title {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    transition: .2s all;
    color: var(--black, #00171F);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
    max-width: 1100px;
}

.btn{
    border-radius: 60px;
    background: var(--black, #00064E);
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 16px;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}


.header-menu ul li a:hover,
.header-menu ul li a.menu-active {
    color: #878787;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .menu-icon {
    display: block;
    }
    .close-icon {
    display: none;
    }
    .responsive-active-sub-menu .menu-icon {
    display: none;
    }
    .responsive-active-sub-menu .close-icon {
    display: block;
    }
    .responsive-sub-menu{
        display: flex;
        z-index: -1;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #fff;
        order:1;
        transform: translateY(-500px);
        transition: .3s linear;
        box-shadow: 0 0 10px rgba(0,0,0,.2)
    }

	.responsive-active-sub-menu {
        transform: translateX(0px);
    }

    .logo{
        order:2
    }
    .responsive-sub-menu.responsive-active-sub-menu>li {
        width: 100%;
        padding: 5px 0;
    }
}


.container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

.container-montre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.position-row{
    display: flex;
    flex-direction: row;
}

.background-shape {
    position: absolute;
    top: 80px;
    right: 0;
    z-index: -1;
}

.info-text{
    display: flex;
    flex-direction: column;
}

.info-text h1, .info-text h2, .info-text p, .info-text a, .line-horizontal {
    margin: 15px;
}

.title{
    color: #000;
    font-family: 'Blue Angel - Demo';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.78%;
    letter-spacing: -1.2px;
}

.line-horizontal{
    width: 60%;
    height: 2px;
    background-color: #000;
}

h2{
    color: #000;
    font-family: Helvetica Neue;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info-text a{
    width: 240px;
}

.bandeau{
    margin-top: 50px;
    background-color: #00171F;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    margin: 10px 60px;
    text-align: center;
    width: 150px;
}

.ligne{
    height: 110px;
    width: 1px;
    background-color: white;
}

.icon img{
    width: 22px;
}

.text {
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.block-montre {
    position: relative;
    width: 460px;
    height: 375px;
    margin: 90px;
    padding: 20px;
    border-radius: 20px;
    background: #00171F;
    text-align: center;
}

.block-montre-border{
    position: relative;
    width: 460px;
    height: 375px;
    margin: 90px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    border: 3px solid var(--black, #00171F);
}

.image {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    background-position: center;
    border-radius: 10px;
}

.content {
    z-index: 1;
    text-align: left;
    margin-left: 90px;
}

.block-montre .content h3 {
    font-family: 'Blue Angel - Demo';
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.6px;
    margin: 20px;
}

.block-montre-border .content h3 {
    font-family: 'Blue Angel - Demo';
    color: #00171F;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.6px;
    margin: 20px;
}

.block-montre-border .content  .second-title{
    color: #00171F;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px;
}

.block-montre .content  .second-title{
    color: white;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px;
}

.flex{
    display: flex;
    align-items: center;
}

.block-montre .line{
    background: white;
    width: 89px;
    height: 1px;
}

.block-montre-border .line{
    background: #000;
    width: 89px;
    height: 1px;
}

.block-montre-border .content p {
    margin: 20px;
    color: #000;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}

.block-montre .content p {
    margin: 20px;
    color: white;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}


.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #050F8B;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #00171f;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}




.block-configurer {
    position: relative;
    width: 600px;
    height: 375px;
    margin: 0px;
    margin-left: -50px;
    margin-top: 70px;
    padding: 20px;
    border-radius: 50px;
    background: #00171F;
    text-align: center;
}

.configurer-image {
    position: absolute;
    margin-left: 550px;
    margin-top: 160px;
}

.configurer-text {
    position: absolute;
    margin-left: 800px;
    margin-top: -100px;
    white-space: wrap;
}

#line {
    border-top: 2px solid #000;
    width: 200px;
    margin-left: 100px;
    margin-top: 30px;
}

#text1 {
    white-space: wrap;
    width: 400px;
    height: 100px;
    margin-top: 30px;
}

#image-frame {
    position: absolute;
    height: 250px;
    margin-left: 200px;
}

#btn {
    border-radius: 60px;
    background: #00064E;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 16px;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
    margin-top: 270px;
    margin-left: -100px;
}

.container-atelier {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

#text-atelier {
    white-space: wrap;
    width: 600px;
    height: 100px;
    margin-top: -50px;
    margin-left: -500px;
}

#text-atelier #line {
    border-top: 2px solid #000;
    width: 200px;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#text-atelier p {
    letter-spacing: 2px;
    margin-left: 0px;
}

#atelier-img {
    position: absolute;
    margin-left: 700px;
    margin-top: 50px;
}

#atelier-img img {
    margin-top: 70px;
    width: 530px;
    height: 370px;
}


.temoignage{
    background-color: #A9B6BE;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client{
    display: flex;
    max-width: 300px;
    margin: 30px;
    flex-direction: column;
    align-items: center;
}

.client .icon{
    width: 90px;
    margin-bottom: 20px;
}

.client p, .client .text {
    text-align: center;
}

.client .text{
    color: #000;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #000;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.img-footer{
    width: 130px;
}

.footer-col{
    display: flex;
    flex-direction: column;
}

.footer-col a {
    text-decoration: none;
    color: #000;
}

.title-footer{
    color: #000;
    font-family: 'Blue Angel - Demo';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
}

.footer-widget-heading h3 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #050F8B;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #050F8B;
    transition: .2s all;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
    transition: .2s all;
    text-decoration: none;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #fff;
    border: 1px solid #2E2E2E;
    color: #2E2E2E;
    border-radius: 20px;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #050F8B;
    padding: 13px 20px;
    border: 1px solid #050F8B;
    border-radius: 0 20px 20px 0;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #050F8B;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #050F8B;
    transition: .2s all;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
    transition: .2s all;
}